<center> <h1>
Análisis de ciencia de datos (TC-2004B)
<h4>
<center> César Guillermo Vázquez Alvarez A01197857
<center> IDM - Ingeniería de Ciencia de Datos y Matemáticas

# Data Transformation

# Implementing Scaling Using the Standard Scaler Method

In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('Wholesale customers data.csv')

In [15]:
df.head()

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

In [16]:
dtypes = df.dtypes
dtypes

Channel             int64
Region              int64
Fresh               int64
Milk                int64
Grocery             int64
Frozen              int64
Detergents_Paper    int64
Delicassen          int64
dtype: object

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Region            440 non-null    int64
 2   Fresh             440 non-null    int64
 3   Milk              440 non-null    int64
 4   Grocery           440 non-null    int64
 5   Frozen            440 non-null    int64
 6   Detergents_Paper  440 non-null    int64
 7   Delicassen        440 non-null    int64
dtypes: int64(8)
memory usage: 27.6 KB

Perform standard scaling and print the first five rows of the new dataset. To do so, use the StandardScaler() class from sklearn.preprocessing and implement the fit_transorm() method.
Using the StandardScaler method, we will scale the data into a uniform unit over all the columns. 
The values of all the features will be converted into a uniform range of the same scale. Because of this, it becomes easier for the model to make predictions.

In [18]:
from sklearn import preprocessing
std_scale = preprocessing.StandardScaler().fit_transform(df)
scaled_frame = pd.DataFrame(std_scale, columns=df.columns)

scaled_frame.head()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,1.448652,0.590668,0.052933,0.523568,-0.041115,-0.589367,-0.043569,-0.066339
1,1.448652,0.590668,-0.391302,0.544458,0.170318,-0.270136,0.086407,0.089151
2,1.448652,0.590668,-0.447029,0.408538,-0.028157,-0.137536,0.133232,2.243293
3,-0.690297,0.590668,0.100111,-0.624020,-0.392977,0.687144,-0.498588,0.093411
4,1.448652,0.590668,0.840239,-0.052396,-0.079356,0.173859,-0.231918,1.299347

# Implementing Scaling Using the MinMax Scaler Method

Perform MinMax scaling and print the initial five values of the new dataset. To do so, use the MinMaxScaler() class from sklearn.preprocessing and implement the fit_transorm() method. Add the following code to implement this:
Using the MinMaxScaler method, we will scale the data into a uniform unit over all the columns

In [19]:
from sklearn import preprocessing
minmax_scale = preprocessing.MinMaxScaler().fit_transform(df)
scaled_frame = pd.DataFrame(minmax_scale,columns=df.columns)
scaled_frame.head()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,1.0,1.0,0.112940,0.130727,0.081464,0.003106,0.065427,0.027847
1,1.0,1.0,0.062899,0.132824,0.103097,0.028548,0.080590,0.036984
2,1.0,1.0,0.056622,0.119181,0.082790,0.039116,0.086052,0.163559
3,0.0,1.0,0.118254,0.015536,0.045464,0.104842,0.012346,0.037234
4,1.0,1.0,0.201626,0.072914,0.077552,0.063934,0.043455,0.108093

# Normalizar los datos utilizando escalamiento decimal

In [20]:
import copy #copia la original

In [21]:
copia = copy.deepcopy(df)

columnas = list(copia.columns)

for i in range(len(columnas)):
    # En el indice i de la columna se busca el max y se guarda.
    maxi = copia[columnas[i]].max() 
    # Guarda la longitud
    j = len(str(maxi)) 
    # Transformacion
    copia[columnas[i]] = copia[columnas[i]]/10**j 

copia

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,0.2,0.3,0.012669,0.09656,0.07561,0.00214,0.02674,0.01338
1,0.2,0.3,0.007057,0.09810,0.09568,0.01762,0.03293,0.01776
2,0.2,0.3,0.006353,0.08808,0.07684,0.02405,0.03516,0.07844
3,0.1,0.3,0.013265,0.01196,0.04221,0.06404,0.00507,0.01788
4,0.2,0.3,0.022615,0.05410,0.07198,0.03915,0.01777,0.05185
...,...,...,...,...,...,...,...,...
435,0.1,0.3,0.029703,0.12051,0.16027,0.13135,0.00182,0.02204
436,0.1,0.3,0.039228,0.01431,0.00764,0.04510,0.00093,0.02346
437,0.2,0.3,0.014531,0.15488,0.30243,0.00437,0.14841,0.01867
438,0.1,0.3,0.010290,0.01981,0.02232,0.01038,0.00168,0.02125
439,0.1,0.3,0.002787,0.01698,0.02510,0.00065,0.00477,0.00052

# Construcción de nuevos atributos y agregación de datos
 
**1. Método .count()**

Muestra el número total de objetos

In [22]:
df.count()

Channel             440
Region              440
Fresh               440
Milk                440
Grocery             440
Frozen              440
Detergents_Paper    440
Delicassen          440
dtype: int64

**2. Método .first() y .last()**

Muestra el primero y último objeto.

In [49]:
# El indice del dataframe ahora es una fecha
jan = pd.date_range(start='1/1/2022', periods=440)
df.set_index(jan,inplace=True)

In [50]:
df.first('1D') #Primer registro

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
2022-01-01,2,3,12669,9656,7561,214,2674,1338

In [44]:
df.last('1D') #Ultimo registro

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
2013-03-15,1,3,2787,1698,2510,65,477,52

In [41]:
#Otros ejemplos
df.first('3D') #Primeros 3 datos

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
2018-01-01,2,3,12669,9656,7561,214,2674,1338
2018-01-02,2,3,7057,9810,9568,1762,3293,1776
2018-01-03,2,3,6353,8808,7684,2405,3516,7844

In [40]:
#Otros ejemplos
df.last('3D') #Ultimos 3 datos

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
2019-03-14,2,3,14531,15488,30243,437,14841,1867
2019-03-15,1,3,10290,1981,2232,1038,168,2125
2019-03-16,1,3,2787,1698,2510,65,477,52

**3. Método .mean() y .median()**

Muestra el promedio y la mediana, según el método usado

In [28]:
df.mean()

Channel                 1.322727
Region                  2.543182
Fresh               12000.297727
Milk                 5796.265909
Grocery              7951.277273
Frozen               3071.931818
Detergents_Paper     2881.493182
Delicassen           1524.870455
dtype: float64

In [29]:
df.median()

Channel                1.0
Region                 3.0
Fresh               8504.0
Milk                3627.0
Grocery             4755.5
Frozen              1526.0
Detergents_Paper     816.5
Delicassen           965.5
dtype: float64

**4. Método .min() y .max()**

Muestra el valor máximo y mínimo, según el método usado

In [30]:
df.min()

Channel              1
Region               1
Fresh                3
Milk                55
Grocery              3
Frozen              25
Detergents_Paper     3
Delicassen           3
dtype: int64

In [31]:
df.max()

Channel                  2
Region                   3
Fresh               112151
Milk                 73498
Grocery              92780
Frozen               60869
Detergents_Paper     40827
Delicassen           47943
dtype: int64

**5. Método .std() y .var()**

Muestra la variación estándar y la varianza, según el método usado

In [32]:
df.std()

Channel                 0.468052
Region                  0.774272
Fresh               12647.328865
Milk                 7380.377175
Grocery              9503.162829
Frozen               4854.673333
Detergents_Paper     4767.854448
Delicassen           2820.105937
dtype: float64

In [33]:
df.var()

Channel             2.190723e-01
Region              5.994978e-01
Fresh               1.599549e+08
Milk                5.446997e+07
Grocery             9.031010e+07
Frozen              2.356785e+07
Detergents_Paper    2.273244e+07
Delicassen          7.952997e+06
dtype: float64

**6. Método .mad()**

Muestra la desviación media promedio

In [34]:
df.mad()

Channel                0.437149
Region                 0.656157
Fresh               8928.045269
Milk                4485.692634
Grocery             6235.789483
Frozen              2713.634814
Detergents_Paper    3080.279246
Delicassen          1200.876126
dtype: float64

**7. Método .prod()**

Muestra el producto de todos los objetos

In [35]:
df.prod()

Channel                               0
Region              6113777231643803648
Fresh                                 0
Milk                                  0
Grocery                               0
Frozen                                0
Detergents_Paper                      0
Delicassen                            0
dtype: int64

**8. Método .sum()**

Muestra la suma de todos los objetos

In [36]:
df.sum()

Channel                 582
Region                 1119
Fresh               5280131
Milk                2550357
Grocery             3498562
Frozen              1351650
Detergents_Paper    1267857
Delicassen           670943
dtype: int64

## Total de lo que se gastó de leche por región

In [37]:
df.groupby(['Region'], as_index=False)['Milk'].sum()

   Region     Milk
0       1   422454
1       2   239144
2       3  1888759

## Total de lo que se gastó de abarrotes por canal

In [38]:
df.groupby(['Channel'], as_index=False)['Grocery'].sum()

   Channel  Grocery
0        1  1180717
1        2  2317845

# Conclusión

La transformación de datos es el proceso de cambiar o convertir datos de una matriz o formato particular a otra matriz o formato específico. La data transformation nos ayuda a aumentar su eficiencia y sus procesos analíticos al tomar mejores decisiones basadas en datos. 

La verdad el poder hacer este tipo de actividades me enriquecen en mi desarrollo tanto académico como laboral, y me siento muy comodo trabajando en estas actividades por que aprendo y pongo en practica lo visto en clase.