Most of this activity is taken from: 
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [246]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [248]:
data = pd.read_csv('./adult.data.csv')
data.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [3]:
# You code here
# Apartir de mi data frame en la categoria de sex y que sea men o women y utiliza count.
cMale = data["sex"][data["sex"] == "Male"].count()
cWome = data["sex"][data["sex"] == "Female"].count()
print('Men:', cMale)
print('Women:', cWome)

Men: 21790
Women: 10771

**2. What is the average age (*age* feature) of women?**

In [4]:
# You code here
# Apartir de mi data frame en la categoria de sex y que sea men o women y utiliza count.
data["age"][data["sex"] == "Female"].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [92]:
# You code here
#Contamos cuantas personas existen 
total = data["native-country"].count()
german = data["native-country"][data["native-country"] == "Germany"].count()
(german/total)*100

0.42074874850281013

4-5. __What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year?__

In [89]:
# You code here more than 50k

#filtered_df = data.query('salary == "<=50K"')
#meanAge = filtered_df["age"].mean()
#desvAge = filtered_df["age"].std()

meanAge = data[data['salary'] == "<=50K"]['age'].mean()
desvAge = data[data['salary'] == "<=50K"]['age'].std()

print("Mean of age for those who earn less than 50k p/y:", meanAge)
print("Standard deviation of age for those who earn less than 50k p/y:", desvAge)

Mean of age for those who earn less than 50k p/y: 36.78373786407767
Standard deviation of age for those who earn less than 50k p/y: 14.020088490824813

In [90]:
# You code here less than 50k

#filtered_df = data.query('salary != "<=50K"')
#meanAge = filtered_df["age"].mean()
#desvAge = filtered_df["age"].std()

meanAge = data[data['salary'] != "<=50K"]['age'].mean()
desvAge = data[data['salary'] != "<=50K"]['age'].std()

print("Mean of age for those who earn more than 50k p/y:", meanAge)
print("Standard deviation of age for those who earn more than 50k p/y:", desvAge)

Mean of age for those who earn more than 50k p/y: 44.24984058155847
Standard deviation of age for those who earn more than 50k p/y: 10.51902771985177

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [70]:
filtered_df = data.query('education == ("Doctorate","Bachelors","Prof-school","Assoc-acdm","Assoc-voc","Masters")')
totalEstMay = filtered_df["education"].count()
cEstuMay50K = filtered_df.query('salary == ">50K"')["salary"].count()
print((cEstuMay50K/totalEstMay)*100)

filtered_df = data.query('education != ("Doctorate","Bachelors","Prof-school","Assoc-acdm","Assoc-voc","Masters")')
totalEstMay = filtered_df["education"].count()
cEstuMay50K = filtered_df.query('salary == ">50K"')["salary"].count()
(cEstuMay50K/totalEstMay)*100

43.12476226702168

14.996597867997277

In [95]:
# You code here
data['Higher_Education'] = data['education'].map(lambda x: x in ("Doctorate","Bachelors","Prof-school","Assoc-acdm","Assoc-voc","Masters")) 
print(data.groupby(['Higher_Education'])['salary'].value_counts(normalize = True) * 100)

Higher_Education  salary
False             <=50K     85.003402
                  >50K      14.996598
True              <=50K     56.875238
                  >50K      43.124762
Name: salary, dtype: float64

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [117]:
# You code here
print(data.groupby(['sex'])['race'].value_counts(normalize = True) * 100)
print('\nMaximum age of men of Amer-Indian-Eskimo race:',data[data['race'] == "Amer-Indian-Eskimo"]['age'].describe().loc['max'])

sex     race
Female  White                 80.233962
        Black                 14.436914
        Asian-Pac-Islander     3.212329
        Amer-Indian-Eskimo     1.104818
        Other                  1.011977
Male    White                 87.994493
        Black                  7.200551
        Asian-Pac-Islander     3.180358
        Amer-Indian-Eskimo     0.881138
        Other                  0.743460
Name: race, dtype: float64

Maximum age of men of Amer-Indian-Eskimo race: 82.0

**8. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [224]:
# You code here
maxi = data['hours-per-week'].describe().loc['max']

print(data[data['hours-per-week'] == maxi].groupby(['salary'])['hours-per-week'].value_counts()/85*100)

salary  hours-per-week
<=50K   99                70.588235
>50K    99                29.411765
Name: hours-per-week, dtype: float64

**9. Find the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [240]:
# You code here
df2 = data.groupby(["salary", "native-country"], as_index=False)['hours-per-week'].mean()
df2

   salary   native-country  hours-per-week
0   <=50K                ?       40.164760
1   <=50K         Cambodia       41.416667
2   <=50K           Canada       37.914634
3   <=50K            China       37.381818
4   <=50K         Columbia       38.684211
..    ...              ...             ...
77   >50K         Thailand       58.333333
78   >50K  Trinadad&Tobago       40.000000
79   >50K    United-States       45.505369
80   >50K          Vietnam       39.200000
81   >50K       Yugoslavia       49.500000

[82 rows x 3 columns]

In [241]:
meanAge = df2[df2['native-country'] == "Japan"]
meanAge

   salary native-country  hours-per-week
24  <=50K          Japan       41.000000
65   >50K          Japan       47.958333

__10. Create 2 visualizations (what to plot is up to you) and write the conclusions generated with those plots from the dataset__

In [244]:
# Your code here: PLOT 1

In [ ]:
# Your code here: PLOT 2

In [ ]:
conclusion = """ Your conclusion here"""
print(conclusion)