# Introduction to Python3 Programming Language

## Python as a simple calculator

The arithmetic operators defined in Python3 are:

In [31]:
# addion
6 + 2

8

In [32]:
# Subtraction
5 - 3

2

In [33]:
# Power
2 ** 5

32

In [34]:
# Real division
4 / 2

2.0

In [35]:
5 / 3

1.6666666666666667

In [36]:
# Integer division
4 // 2

2

In [37]:
5 // 3

1

In [38]:
# Module
4 % 2

0

In [39]:
5%3

2

In [40]:
# Expresions
3 + 4 -5

2

In [41]:
4 + 5 * 3

19

In [42]:
# Note Python operators precedence

In [43]:
-10 * 3 + 5 ** 3

95

In [44]:
(4 + 5) * 3

27

In [45]:
-10 * (3 + 5) ** 3

-5120

In [46]:
# Error: Division by cero
4 / 0

ZeroDivisionError: division by zero

## Variables

In [ ]:
# Area of a triangle
base = 20
height = 12
area = base * height / 2
area

In [ ]:
# Name of variables
hello = 10
hello

In [ ]:
_number = 2.5
_number

In [ ]:
num2 = 2.777
num2

In [ ]:
# wrong name of a variable
3_value = 2

In [ ]:
# A typical way to name a variable
time_secs = 15
time_secs

## Basic data types

In [ ]:
# integer
intnum = 10
type(intnum)

In [ ]:
# float
floatnum = 10.
type(floatnum)

In [ ]:
# string
string = "Hello world!" 
type(string)

In [ ]:
# complex
complexnum = 3+2j
type(complexnum)

In [ ]:
# list
listnumber = [2,3,4] 
type(listnumber)

In [ ]:
# list
tuplenumbers = (2,3,4) 
type(listnumber)

In [ ]:
# dictionary
dicnumber = {"one":1, "two":2}
type(dicnumber)

In [ ]:
# boolean
boolval = 3 > 2
type(boolval)

## Strings

A string is a set of characters. In Python these strings are expressed in double quotes (") or apostrophes (').

In [ ]:
'hello'

In [ ]:
sunny_day = 'Today is a sunny day!!'
sunny_day

In [ ]:
rainy_day = 'What bloody', awful weather!'
rainy_day

In [ ]:
rainy_day = 'What bloody\', awful weather!'
rainy_day

In [ ]:
rainy_day = "What bloody\', awful weather!"
rainy_day

In [ ]:
'awful ' + 'weather'

In [ ]:
puzzle_ini = 'I would like '
puzzle_next = 'a schnauzer dog'
puzzle_sign = '!!!'
puzzle_ini + puzzle_next + puzzle_sign

In [ ]:
'Hello ' * 5

In [ ]:
'Hello World' +print("Hola") '!' * 3

In [ ]:
print("Hello")

In [ ]:
print("Hello,", "what's up?")

In [ ]:
input("Type your name here: ")

In [ ]:
name = input("Type your name here: ")
name

In [ ]:
print ("Hello", name)

In [ ]:
'''hello'''

In [ ]:
print ('''Hello,
what's
up?
''')

In [ ]:
str1 = '''Hello,
what's
up?
'''
str1

In [ ]:
print('a\tb\tc')

In [ ]:
print ('\\')

In [ ]:
print("La \"calaca\", \'tilica\' y flaca")

In [ ]:
print("Six \"sleek\" swans swam \'swiftly\' southwards")

### String operators

In [ ]:
solution = 'cat'
solution == 'cat'

In [ ]:
solution != 'cat'

In [ ]:
solution = 'dog'

In [ ]:
solution != 'cat'

In [ ]:
'aba' < 'ace'

In [ ]:
'aba' > 'ace'

In [ ]:
'a' <= 'a'

In [ ]:
'A' <= 'B'

In [ ]:
'a' < 'A'

In [ ]:
'a' > 'A'

In [ ]:
',' < '3'

In [ ]:
's' == 3

In [ ]:
's' <= 3

In [ ]:
'cad' in 'abracadabra'

In [ ]:
'c' in 'aeiou'

In [ ]:
'zoo' in 'ooze'

In [47]:
'' in 'abc'

True

In [48]:
'' in ''

True

In [49]:
len('')

0

In [50]:
len("abracadabra")

11

In [51]:
len ('bab' + "alu" * 2)

9

In [52]:
s = 'Learn to program'
s[0]

'L'

In [53]:
s[2]

'a'

In [54]:
s[-1]

'm'

In [55]:
s[-2]

'a'

In [56]:
s[-3]

'r'

In [57]:
s[0:5] # string slicing

'Learn'

In [58]:
s[6:8]

'to'

In [59]:
s[9:16]

'program'

In [60]:
len(s)

16

In [61]:
s[9:len(s)]

'program'

In [62]:
s[9:]

'program'

In [63]:
s[:8]

'Learn to'

In [64]:
s[-15:-8]

'earn to'

In [65]:
s[6] = 'd' # error!!

TypeError: 'str' object does not support item assignment

In [66]:
s[:5] + 'ed' + s[5:]

'Learned to program'

In [67]:
s = s[:5] + 'ed' + s[5:]
s

'Learned to program'

### Methods of strings

In [68]:
scream_ice = "I scream, You scream, We all scream for Icecream!"
scream_ice.lower()

'i scream, you scream, we all scream for icecream!'

In [69]:
# Show methods of strings
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [70]:
help(str.lower)

Help on method_descriptor:

lower(self, /)
    Return a copy of the string converted to lowercase.

In [71]:
help(str.count)

Help on method_descriptor:

count(...)
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [72]:
scream_ice.count('cream')

4

In [73]:
"computer".capitalize()

'Computer'

In [74]:
scream_ice.find('scr')

2

In [75]:
scream_ice.find('scr', 5)

14

In [76]:
scream_ice.find('zoo')

-1

In [77]:
scream_ice.rfind('scr's = "   I'm feeling spaced out.   ")

SyntaxError: invalid syntax (<ipython-input-77-6b86dcbe9ed4>, line 1)

In [78]:
s = "   I'm feeling spaced out.   "
s.lstrip()

"I'm feeling spaced out.   "

In [79]:
s.rstrip()

"   I'm feeling spaced out."

In [80]:
s.strip()

"I'm feeling spaced out."

In [81]:
s  # strings are inmutable objects

"   I'm feeling spaced out.   "

## Boolean

In [82]:
3 < 4

True

In [83]:
3 > 8

False

In [84]:
3.5 >= 3.4

True

In [85]:
7 == 7

True

In [86]:
x = 7
y = 8
x != y

True

In [87]:
grade = 80
grade >= 50

True

In [88]:
not (grade >= 50)

False

In [89]:
not not (grade >= 50)

True

In [90]:
grade2 = 70
(grade >= 50 ) and (grade2 >= 50)

True

In [91]:
grade = 80
grade2 = 40
(grade >= 50) and (grade2 >= 50)

False

In [92]:
grade = 70
grade2 = 80
(grade >= 50) or (grade2 >= 50)

True

In [93]:
grade = 40
(grade >= 50) or (grade2 >= 50)

True

In [94]:
grade = 80
grade2 = 40
(grade >= 50) or (grade2 >= 50)

True

In [95]:
grade = 80
grade2 = 90
not grade >=50 or grade2 >= 50

True

In [96]:
not (grade >=50 or grade2 >= 50)

False

In [97]:
(not grade >= 50) or grade2 >= 50

True

In [98]:
(4 != 4) or (2 > 3)

False

In [99]:
4 != 4 or 2 > 3

False

## Data type conversions

In [100]:
str(3)

'3'

In [101]:
three = str(3)
three

'3'

In [102]:
three * 10

'3333333333'

In [103]:
int (three * 3)

333

In [104]:
str(int(tres * 3))

NameError: name 'tres' is not defined

In [105]:
str(4.65)

'4.65'

In [106]:
int ('465')

465

In [107]:
float('465')

465.0

In [108]:
int ('hola 3 veces') # error!

ValueError: invalid literal for int() with base 10: 'hola 3 veces'

In [109]:
input("Type the number of houses in the neighborhood:")

Type the number of houses in the neighborhood:2

'2'

In [ ]:
num_houses_street = 3
num_houses_neigh = input("Type the number of houses in the neighborhood: ")

In [ ]:
num_houses_street >= num_houses_neigh # error!!

In [ ]:
num_houses_neigh = int(input("Type the number of houses in the neighborhood: "))

In [ ]:
num_houses_street >= num_houses_neigh