# Introduction to Python3 Programming Language

## Lists, ranges, tuples, dictionaries objects

### Lists

In [1]:
grades = [80, 90, 70]

In [2]:
grades[1]

90

In [3]:
grades[2]

70

In [4]:
grades[0:2]

[80, 90]

In [5]:
grades[0:]

[80, 90, 70]

In [6]:
80 in grades

True

In [7]:
60 in grades

False

Some built-in functions: ```len(list), min(list), max(list), sum(list)```.

In [8]:
len(grades)

3

In [9]:
max(grades)

90

In [10]:
sum(grades)

240

In [11]:
subjects = ['bio', 'cs', 'math', 'history']
len(subjects)

4

In [12]:
max(subjects)

'math'

In [13]:
min(subjects)

'bio'

In [142]:
sum(subjects)  #error

In [24]:
street_address = [10, 'Main Street']

In [15]:
for grade in grades:
    print(grade)

80
90
70

In [16]:
for item in subjects:
    print(item)

bio
cs
math
history

Lists are mutable objects. Some methods modify lists: ```append(), extend(), pop(), remove(), reverse(), sort(), insert()```

In [17]:
colours = []
prompt = 'Type a color...'
colour = input(prompt)

Type a color...Red

In [18]:
colour

'Red'

In [19]:
colours

[]

In [20]:
while colour !='':
    colours.append(colour)
    colour = input(prompt)

Type a color...Green
Type a color...Blue
Type a color...Yellow
Type a color...

In [21]:
colours

['Red', 'Green', 'Blue', 'Yellow']

In [22]:
# include a list into other list
colours.extend(['green', 'brown'])
colours

['Red', 'Green', 'Blue', 'Yellow', 'green', 'brown']

In [23]:
colours.pop() # removes the last element of the list

'brown'

In [25]:
colours

['Red', 'Green', 'Blue', 'Yellow', 'green']

In [26]:
colours.pop(2) #removes the element with specific index

'Blue'

In [27]:
colours

['Red', 'Green', 'Yellow', 'green']

In [29]:
# removes some elementes of the list.
colours.remove('Red')
colours

['Green', 'Yellow', 'green']

In [30]:
help(list.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [31]:
colours.count ('blue')

0

In [32]:
if 'blue' in colours:
    colours.remove('blue')

In [33]:
colours

['Green', 'Yellow', 'green']

In [34]:
colours.extend(['violet', 'black', 'brown', 'blue', 'yellow'])

In [35]:
colours

['Green', 'Yellow', 'green', 'violet', 'black', 'brown', 'blue', 'yellow']

In [36]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [37]:
colours.sort()
colours

['Green', 'Yellow', 'black', 'blue', 'brown', 'green', 'violet', 'yellow']

In [38]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [39]:
colours.insert(-2, 'white')
colours

['Green',
 'Yellow',
 'black',
 'blue',
 'brown',
 'green',
 'white',
 'violet',
 'yellow']

In [40]:
help(list.index)

Help on method_descriptor:

index(self, value, start=0, stop=9223372036854775807, /)
    Return first index of value.

    Raises ValueError if the value is not present.

In [41]:
colours.index('white')

6

In [43]:
if 'brown' in colours:
    where = colours.index('brown')
    colours.pop(where)

In [44]:
colours

['Green', 'Yellow', 'black', 'blue', 'green', 'white', 'violet', 'yellow']

A list as parameter of a function can be modified

In [45]:
def double_even_indices(lst):
    '''(list of int) -> NoneType
    
    Double every other int in lst, starting in 0
    '''
    
    i = 0
    while i < len(lst):
        lst[i] = lst[i]  * 2
        i = i + 2
      
list1 = [11, 12, 13, 14, 15, 16, 17]
print(list1)
double_even_indices(list1)
print(list1)

[11, 12, 13, 14, 15, 16, 17]
[22, 12, 26, 14, 30, 16, 34]

### Ranges

In [46]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [47]:
s = 'computer sciences'
len(s)

17

In [48]:
for i in range(len(s)):
    print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [49]:
for i in range(3, len(s)):
    print(i)

3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [50]:
for i in range(5, len(s), 2):
    print(i)

5
7
9
11
13
15

In [51]:
s='abccdeffggh'
s

'abccdeffggh'

In [56]:
i = len(s)
print(s[i])#Error

h

In [53]:
i = len(s)-1
print(s[i])

h

In [54]:
# range(k) ~ [0,k)
for i in range(len(s)-1):
    print(i, s[i], s[i+1])

0 a b
1 b c
2 c c
3 c d
4 d e
5 e f
6 f f
7 f g
8 g g
9 g h

In [58]:
def count_adjacent_repeats(s):
    '''(str) -> int
    
    Return the number of occurrences of a character and
    an adjacent character being the same.
    
    >>> count_adjacent_repeats('abccdeffggh')
    3
    '''
    
    repeats = 0
    
    for i in range(len(s)-1):
        if s[i] == s[i+1]:
            repeats = repeats +1 
    
    return repeats

In [59]:
count_adjacent_repeats('abccdeffggh')

3

In [60]:
def shift_left(L):
    '''(list) -> NoneType
    
    Shift each item in L one position to the left
    and shift the first item to the last position.
    Precondition: len(L) >= 1
    '''
    
    first_item = L[0]
    
    for i in range(1,len(L)):
        L[i-1] = L[i]
    
    L[-1] = first_item

In [61]:
L = ['a','b','c','d']

In [62]:
shift_left(L)
print(L)

['b', 'c', 'd', 'a']

### Lists and strings

In [63]:
def sum_items(list1, list2):
    '''(list of number, list of number) -> list of number
    
    Return a new list in which each item is the sum of 
    corresponding position o list1 and list2.
    
    Precondition: len(list1) == len(list2)
    
    >>> sum_items([1,2,3], [2,4,2])
    [3,6,5]
    '''
    
    sum_list = []
    
    for i in range(len(list1)):
        sum_list.append(list1[i] + list2[i])
        
    return sum_list

In [64]:
help(sum_items)

Help on function sum_items in module __main__:

sum_items(list1, list2)
    (list of number, list of number) -> list of number

    Return a new list in which each item is the sum of
    corresponding position o list1 and list2.

    Precondition: len(list1) == len(list2)

    >>> sum_items([1,2,3], [2,4,2])
    [3,6,5]

In [65]:
sum_items([1,2,3], [2,4,2])

[3, 6, 5]

In [66]:
def count_matches(s1,s2):
    ''' (str, str) -> int
    
    Return the number of positions in s1 that contain
    the same character at the corresponding position
    of s2.
    
    Precondition: len(s1) == len(s2)
    
    >>> count_matches('ate', 'ape')
    2
    >>> count_matches('head', 'hard')
    2
    '''
    
    num_matches = 0
    
    for i in range(len(s1)):
        if s1[i] == s2[i]:
            num_matches = num_matches + 1
    
    return num_matches

In [67]:
count_matches('ate', 'ape')

2

In [68]:
count_matches('head', 'hard')

2

### Nested lists

In [69]:
grades = [['assigment1', 80],['assigment2', 90],['assigment3', 70]]

In [70]:
len(grades)

3

In [71]:
grades[0]

['assigment1', 80]

In [72]:
grades[2]

['assigment3', 70]

In [73]:
len(grades[1])

2

In [74]:
for item in grades:
    print(item)

['assigment1', 80]
['assigment2', 90]
['assigment3', 70]

In [75]:
grades[0][0]

'assigment1'

In [76]:
grades[0][1]

80

In [77]:
grades[2][1]

70

In [78]:
def calculate_average(asn_grades):
    ''' (list of list of (str, number]) -> float
    
    Return the average of the grades in asn_grades.
    
    >>> calculate_average([['A1', 80],['A2', 90]])
    85.0
    '''
    
    total = 0
    
    for item in asn_grades:
        total = total + item[1]
        
    return total / len(asn_grades)

In [79]:
calculate_average([['A1', 80],['A2', 90]])

85.0

In [80]:
grades = [[70, 75, 80],[70, 80, 90, 100],[80, 100]]
english = grades[0]
english

[70, 75, 80]

In [81]:
total = 0
for mark in english:
    total+= mark
print(total)

225

In [82]:
def averages(grades):
    '''(list of list of number) -> list of float
    
    Return a new list in which each item is the average of the
    grades in the inner list at the corresponding position of
    grades.
    
    >>> averages([[70, 75, 80],[70, 80, 90, 100],[80, 100]])
    [75.0, 85.0, 90.0]
    '''
    averages = []
    
    for grades_list in grades:
        # Calculate the average of grades_list and append
        # it to averages.
        total = 0
        for mark in grades_list:
            total = total + mark
        
        averages.append(total / len(grades_list))
                        
    return averages

In [83]:
averages([[70, 75, 80],[70, 80, 90, 100],[80, 100]])

[75.0, 85.0, 90.0]

## Tuples

In [84]:
tup = ('a', 3, -0.25)

In [85]:
tup[0]

'a'

In [86]:
tup[-1]

-0.25

In [87]:
tup[1:]

(3, -0.25)

In [88]:
tup[:2]

('a', 3)

In [89]:
tup[1:3]

(3, -0.25)

In [94]:
# tuples are inmutable objects
tup[1] = 'c' #Error

In [91]:
for i in tup:
    print (i)

a
3
-0.25

In [92]:
len(tup)

3

In [93]:
for i in range(len(tup)):
    print (tup[i])

a
3
-0.25

In [95]:
(1,2)

(1, 2)

In [96]:
(1)

1

In [97]:
(1,)

(1,)

In [98]:
()

()

## Dictionaries

A dictionary is a list of list wich combines a `key-value` elements: ```{key1 : value1,  key1 : value1, ... ,keyN : valueN}```

In [99]:
grades = [['A1', 80], ['A2', 70], ['A3', 90]]

In [100]:
grades[0]

['A1', 80]

In [101]:
grades[1]

['A2', 70]

In [102]:
grades[1][0]

'A2'

In [103]:
asn_to_grade = {'A1' : 80, 'A2' : 70, 'A3' : 90}

In [104]:
asn_to_grade['A2']

70

In [105]:
'A4' in asn_to_grade

False

In [106]:
'A2' in asn_to_grade

True

In [107]:
80 in asn_to_grade

False

In [108]:
len(asn_to_grade)

3

In [109]:
asn_to_grade['A4']= 85

In [110]:
len(asn_to_grade)

4

In [111]:
asn_to_grade

{'A1': 80, 'A2': 70, 'A3': 90, 'A4': 85}

In [112]:
# dictionaries are mutable objects
asn_to_grade['A4']= 90

In [113]:
asn_to_grade

{'A1': 80, 'A2': 70, 'A3': 90, 'A4': 90}

In [114]:
del asn_to_grade['A4']

In [115]:
len(asn_to_grade)

3

In [116]:
asn_to_grade

{'A1': 80, 'A2': 70, 'A3': 90}

In [117]:
for assignment in asn_to_grade:
    print(assignment)

A1
A2
A3

In [118]:
for assignment in asn_to_grade:
    print(asn_to_grade[assignment])

80
70
90

In [119]:
for assignment in asn_to_grade:
    print(assignment, asn_to_grade[assignment])

A1 80
A2 70
A3 90

In [120]:
d = {}
len(d)

0

In [121]:
d = {'dog': 1, 5: 8}

In [122]:
d

{'dog': 1, 5: 8}

In [123]:
# Add a new key-value pair
# Key is a tuple (1,2)
# Value is a string
d[(1,2)] = 'Hello'

In [124]:
d

{'dog': 1, 5: 8, (1, 2): 'Hello'}

In [125]:
fruit_to_colour = {
                  'banana': 'yellow',
                  'cherry': 'red',
                  'orange': 'orange',
                  'pear': 'green',
                  'peach': 'orange',
                  'plum': 'purple',
                  'pomegranate': 'red',
                  'strawberry': 'red'}

In [126]:
# invert fruit to color
colour_to_fruit = {}
for fruit in fruit_to_colour:
    colour = fruit_to_colour[fruit]
    colour_to_fruit[colour] = fruit

In [127]:
colour_to_fruit #some fruits were lost

{'yellow': 'banana',
 'red': 'strawberry',
 'orange': 'peach',
 'green': 'pear',
 'purple': 'plum'}

In [128]:
# invert fruit to color
colour_to_fruit = {}
for fruit in fruit_to_colour:
    colour = fruit_to_colour[fruit]
    
    # if colour is not already a key in the accumulator,
    # add colour: [fruit] as an entry
    if not (colour in colour_to_fruit):
        colour_to_fruit[colour] = [fruit]
    
    # Otherwise, append fruit to the existing list
    else:
        colour_to_fruit[colour].append(fruit)

In [129]:
colour_to_fruit

{'yellow': ['banana'],
 'red': ['cherry', 'pomegranate', 'strawberry'],
 'orange': ['orange', 'peach'],
 'green': ['pear'],
 'purple': ['plum']}

In [130]:
colour_to_fruit['orange']

['orange', 'peach']

In [131]:
colour_to_fruit['orange'][0]

'orange'

In [132]:
colour_to_fruit['red']

['cherry', 'pomegranate', 'strawberry']

In [133]:
colour_to_fruit['red'][2]

'strawberry'

Fuction `read_grades` reads data from a file, computes grades and creates a dictionary that shows the student's grades

In [134]:
def read_grades(gradefile):
    '''(file open for reading) -> dict of {float: list of str}
    
    Read the grades from gradefile and return a dictionary where
    each key is a grade and each value is the list of ids of
    students who earned that grade.
    
    Precondition: gradefile starts with a header that contains
    no blank lines, then has a blank line, and the lines
    containing a student number and a grade.
    '''
    
    # Skip over the header
    line = gradefile.readline()
    while line != '\n':
        line = gradefile.readline()
        
    # Read the grades, accumulting the into a dict.
    grade_to_ids = {}
    line = gradefile.readline()
    
    while line != '':
        student_id = line[:4]
        grade = float(line[4:].strip())
        
        if grade not in grade_to_ids:
            grade_to_ids[grade] = [student_id]
        else:
            grade_to_ids[grade].append(student_id)
            
        line = gradefile.readline()
    
    return grade_to_ids

In [140]:
gradesfile = open('gradesfile.txt')

In [141]:
read_grades(gradesfile)

{77.5: ['0052', '1311'],
 37.5: ['0072'],
 62.5: ['0144', '0417', '0583', '1078'],
 72.5: ['0162'],
 100.0: ['0173'],
 55.0: ['0190', '1389'],
 95.0: ['0196', '0480'],
 82.5: ['0225'],
 97.5: ['0268'],
 57.5: ['0306', '0941'],
 70.0: ['0403', '0645'],
 40.0: ['0455'],
 25.0: ['0481', '0491'],
 50.0: ['0544'],
 80.0: ['0587'],
 92.5: ['0673', '0794'],
 85.0: ['0689', '1376', '1377'],
 47.5: ['0988'],
 45.5: ['1242'],
 67.5: ['1388']}